<header class="">
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: rgba(0, 0, 0, .9) !important;">
        <div class="container">
        <a href="/" class="navbar-brand"><img src="/public/icon/Logo-full-text-w30-350.png"></a>

        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu-icon-bar"></span>
            <span class="menu-icon-bar"></span>
            <span class="menu-icon-bar"></span>
        </button>

        <div id="main-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
            <li><a href="/" class="nav-link active">Trang chủ</a></li>              
            <li><a href="/views/gallery" class="nav-link">Thư viện ảnh</a></li>
            <li><a href="/views/about" class="nav-link">Về tác giả</a></li>    
            </ul>
        </div>
        </div>
    </nav>
</header>