<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', { title: 'Về tác giả' }) %>
  <body>
    <%- include('partials/header') %>
    <main>
      <section id="content" class="content">
        <div class="container about-container">
            <div class="about-page">
                <br>
                <h2><strong>Huỳnh Thanh Danh - Nghệ sĩ Nhiếp ảnh Tài Năng</strong></h2><br>
                <div class="about-picture">
                    <img src="/icon/about.jpg" alt="Profile picture" width="350px">
                    <p class="about-name">Tác giả Huỳnh Thanh Danh</p>
                </div>
                
                <p> Là một nhiếp ảnh gia với niềm đam mê và tài năng vượt trội. Anh đã chinh phục không chỉ cộng đồng nhiếp ảnh trong nước mà còn ghi dấu ấn trong lòng người yêu nghệ thuật qua những bức ảnh độc đáo và đầy cảm xúc.</p><br>
                <p>Được biết đến với giải nhất cuộc thi Chim Hoang Dã Việt Nam 2023, anh không ngừng phấn đấu và sáng tạo để mang đến những tác phẩm nghệ thuật tuyệt vời. Anh đã được nhiều tổ chức nhiếp ảnh toàn quốc ghi nhận và tôn vinh qua các bài báo tiêu biểu, trong đó có:</p><br>
                <ul>
                    <li type="circle"> 
                        Bài viết "Khám Phá Vẻ Đẹp Việt Nam Qua Ống Kính của một người yêu chim" được đăng tải trên trang web của Hiệp hội Nhiếp ảnh Quốc tế (IPA).
                        Bài báo "Nghệ Thuật Nhiếp Ảnh Từ Góc Nhìn Của Huỳnh Thanh Danh" trên tạp chí nghệ thuật danh tiếng ArtForum.
                    </li><br>
                    <li type="circle">
                        Bài viết "Khám Phá Vẻ Đẹp Việt Nam Qua Ống Kính Thái Tố Thiên" được đăng tải trên trang web của Hiệp hội Nhiếp ảnh Quốc tế (IPA).
                    </li>
                </ul><br>
                <p>
                    Niềm đam mê với nhiếp ảnh của anh bắt đầu từ khi anh còn nhỏ với một chiếc máy ảnh Sony cũ kĩ. Khi lần đầu tiên cầm máy ảnh và chụp những khoảnh khắc bình dị nhưng đầy sức sống của quê hương, Anh luôn tìm kiếm sự hoàn hảo trong từng chi tiết, từ ánh sáng, màu sắc đến cảm xúc mà bức ảnh mang lại.
                    Với anh, nhiếp ảnh không chỉ là nghệ thuật mà còn là cách để kể những câu chuyện, truyền tải những cảm xúc và kết nối tâm hồn con người. Mỗi bức ảnh là một tác phẩm nghệ thuật, một phần tâm huyết và tình yêu của một dược sỹ tài năng dành cho nhiếp ảnh.

                    Hãy cùng khám phá thế giới qua lăng kính độc đáo của Huỳnh Thanh Danh và cảm nhận những điều kỳ diệu mà nghệ thuật nhiếp ảnh mang lại.
                </p>
                <h2>Contact Huỳnh Thanh Danh</h2>
              <ul class="contact-info">
                  <li><img src="/icon/584856bce0bb315b0f7675ad.png" height="20px"><strong>Email:</strong> <a href="mailto:huynhthanhdanh72@gmail.com">huynhthanhdanh72@gmail.com</a></li>
                  <li><img src="/icon/facebook-icon-circle-logo-09F32F61FF-seeklogo.com.png" height="20px"><strong>Facebook:</strong> <a href="https://www.facebook.com/huynhthanhdanh72" target="_blank">facebook.com/huynhthanhdanh72</a></li>
              </ul>
            </div>
            
        
            
         
        </div>        
      </section>
      <!--FOOTER-->
   <!--FOOTER-->
   <%- include('partials/footer') %>
    </main>




    <!-- To Top -->
    <a href="#" id="toTopBtn"><div class="to-top"><i class="fa fa-angle-up"></i></div></a>

    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../public/js/index.js"></script>

  
  </body>
</html>