<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/public/asset/Image/Icon.png">
    <title>Welcome!</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/reset.css" />
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../public/css/style.css" />
    

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600;700&family=Roboto+Serif:opsz,wght@8144,400;8144,500;8144,600&display=swap"
        rel="stylesheet"
    />

    <!-- Font Awesome 5 -->
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
  </head>
  <body>
    





    <header class="header-area overlay">
      <nav class="navbar navbar-expand-md navbar-dark" style="background-color: rgba(0, 0, 0, .9) !important;">
        <div class="container">
          <a href="#" class="navbar-brand"><img src="/public/asset/image/Logo-full-text-w30.png" height="120px"></a>
    
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu-icon-bar"></span>
            <span class="menu-icon-bar"></span>
            <span class="menu-icon-bar"></span>
          </button>
    
          <div id="main-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
              <li><a href="#" class="nav-link active">Trang chủ</a></li>
              <li><a href="#" class="nav-link">Giới thiệu</a></li>
              <li class="dropdown">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">Liên hệ</a>
                <ul class="dropdown-menu">
                  <li><a href="#" class="dropdown-item">Dropdown Item 1</a></li>
                  <li><a href="#" class="dropdown-item">Dropdown Item 2</a></li>
                  <li><a href="#" class="dropdown-item">Dropdown Item 3</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">Portfolio</a>
                <ul class="dropdown-menu">
                  <li><a href="#" class="dropdown-item">Dropdown Item 1</a></li>
                  <li><a href="#" class="dropdown-item">Dropdown Item 2</a></li>
                  <li><a href="#" class="dropdown-item">Dropdown Item 3</a></li>
                  <li><a href="#" class="dropdown-item">Dropdown Item 4</a></li>
                  <li><a href="#" class="dropdown-item">Dropdown Item 5</a></li>
                </ul>
              </li>
              <li><a href="#" class="nav-link">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    
      <div class="banner">
        <div class="container">
          <h1>Chào các bạn!</h1>
          <p>Mình là Huỳnh Thanh Danh và chào mừng đến với tổ chim của mình</p>
          <a href="#content" class="button button-primary">Learn More</a>
        </div>
      </div>
    </header>
    
    <main>
      <section id="content" class="content">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec elit ex. Etiam elementum lectus et
                tempor molestie. Pellentesque vestibulum dui sit amet dui volutpat sollicitudin. Etiam non erat finibus,
                iaculis nunc vel, convallis eros. Etiam efficitur tempor dui, vitae fringilla ipsum tristique quis.
                Aliquam erat volutpat. Cras ullamcorper ex et viverra vulputate. Nam lectus ligula, pretium nec risus nec,
                ultricies fringilla mauris. Proin quis venenatis neque, iaculis porta nulla. </p>
            </div>
            <div class="col-md-4">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec elit ex. Etiam elementum lectus et
                tempor molestie. Pellentesque vestibulum dui sit amet dui volutpat sollicitudin. Etiam non erat finibus,
                iaculis nunc vel, convallis eros. Etiam efficitur tempor dui, vitae fringilla ipsum tristique quis.
                Aliquam erat volutpat. Cras ullamcorper ex et viverra vulputate. Nam lectus ligula, pretium nec risus nec,
                ultricies fringilla mauris. Proin quis venenatis neque, iaculis porta nulla. </p>
            </div>
            <div class="col-md-4">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec elit ex. Etiam elementum lectus et
                tempor molestie. Pellentesque vestibulum dui sit amet dui volutpat sollicitudin. Etiam non erat finibus,
                iaculis nunc vel, convallis eros. Etiam efficitur tempor dui, vitae fringilla ipsum tristique quis.
                Aliquam erat volutpat. Cras ullamcorper ex et viverra vulputate. Nam lectus ligula, pretium nec risus nec,
                ultricies fringilla mauris. Proin quis venenatis neque, iaculis porta nulla. </p>
            </div>


          </div>
      <!--PHOTO-->
      <div class="row row-cols-1 row-cols-md-3 g-5">
        <div class="col mb-3">
            <img src="/public/asset/bird/b1.jpg" alt="" class="img-fluid">
            <div class="name d-none">
                <h4>Chim 1</h4>
                <h5>A bird</h5>
            </div>
        </div>
        <div class="col mb-3">
            <img src="/public/asset/bird/b2.jpg" alt="" class="img-fluid">
            <div class="name d-none">
                <h4>Bird 2</h4>
                <h5>A bird</h5>
            </div>
        </div>
        <div class="col mb-3">
            <img src="/public/asset/bird/z5277435387051_1f6ed908d0e0ee9de2cbd97330ed9eac.jpg" alt="" class="img-fluid">
            <div class="name d-none">
                <h4>Bird 3</h4>
                <h5>A bird</h5>
            </div>
        </div>
    </div>
    
   <!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header" style="background-color: #242424;">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
              <img src="" alt="" class="img-fluid modal-image">
              <div class="name">
                  <h3 class="modal-name mb-3"></h3>
                  <h5 class="modal-eng-name mb-3"></h5>
              </div>
          </div>
      </div>
  </div>
</div>
      <!--PHOTO-->


      
          <!-- To Top -->
          <a href="#" id="toTopBtn"><div class="to-top"><i class="fa fa-angle-up"></i></div></a>
        </div>
      </section>
    </main>






    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../public/js/index.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
          const images = document.querySelectorAll('.row .col img');
          const modalImage = document.querySelector('.modal-image');
          const modalName = document.querySelector('.modal-name');
  
          images.forEach(image => {
              image.addEventListener('click', function () {
                  modalImage.src = this.src;
                  const name = this.nextElementSibling.querySelector('h4').innerText;
                  modalName.innerText = name;
                  modalName.parentElement.classList.remove('d-none'); // Show the name
                  $('#imageModal').modal('show');
              });
          });
      });
  </script>
  
  </body>
</html>