@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html {
  font-size: 50%;
}

a, a::before, a::after, a:active {
  text-decoration: none;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.fill-screen {
  min-height: 100vh;
}
body {
  /*font-family: 'LXGW WenKai TC', 'Open Sans', 'Roboto', sans-serif; */
  font-family:'Roboto', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  
}



footer {
  font-size: 100%;
}
h1 {
  margin-bottom: 0.5em;
  font-size: 3.6rem;
}
p {
  margin-bottom: 0.5em;
  font-size: 1.6rem;
  line-height: 1.6;
}
.button {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 25px;
  border-radius: 4px;
}
.button-primary {
  position: relative;
  background-color: #c0ca33;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  transition: color 0.3s ease-in;
  z-index: 1;
}
.button-primary:hover {
  color: #c0ca33;
  text-decoration: none;
}
.button-primary::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  border-radius: 4px;
  opacity: 0;
  -webkit-transform: scaleX(0.8);
  -ms-transform: scaleX(0.8);
  transform: scaleX(0.8);
  transition: all 0.3s ease-in;
  z-index: -1;
}
.button-primary:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.overlay::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .3);
}
.header-area {
  position: relative;
  height: 100vh;
  background: #242424;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  color: #fff;
  text-align: center;
  z-index: 1;
  background-image: url(/public/icon/background-3-1.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner h1 {
  font-weight: 800;
}
.banner p {
  font-weight: 700;
}
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  width: 100%;
  transition: background 0.6s ease-in;
  z-index: 99999;
}
.navbar .navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  margin: 5px 0px 7px 0px;
}
.navbar-brand img {
  height: 90px;
}
.navbar .navbar-toggler {
  position: relative;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  outline: none;
}
.navbar .navbar-toggler .menu-icon-bar {
  position: absolute;
  left: 15px;
  right: 15px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  transition: all 0.3s ease-in;
}
.navbar .navbar-toggler .menu-icon-bar:first-child {
  opacity: 1;
  -webkit-transform: translateY(-1px) rotate(45deg);
  -ms-sform: translateY(-1px) rotate(45deg);
  transform: translateY(-1px) rotate(45deg);
}
.navbar .navbar-toggler .menu-icon-bar:last-child {
  opacity: 1;
  -webkit-transform: translateY(-1px) rotate(135deg);
  -ms-sform: translateY(-1px) rotate(135deg);
  transform: translateY(-1px) rotate(135deg);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar {
  opacity: 1;
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
  -webkit-transform: translateY(-7px) rotate(0);
  -ms-sform: translateY(-7px) rotate(0);
  transform: translateY(-7px) rotate(0);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
  -webkit-transform: translateY(5px) rotate(0);
  -ms-sform: translateY(5px) rotate(0);
  transform: translateY(5px) rotate(0);
}
.navbar-dark .navbar-nav .nav-link {
  position: relative;
  color: #fff;
  font-size: 1.7rem;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 211, 66);
}


.navbar .dropdown-menu {
  padding: 0;
  background-color: rgba(0, 0, 0, .9);
}
.navbar .dropdown-menu .dropdown-item {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  transition: color 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: rgba(255, 211, 66);
}
.navbar .dropdown-menu .dropdown-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 5px;
  background-color: rgba(255, 211, 66);
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:hover::before {
  opacity: 1;
}
.navbar.fixed-top {
  position: fixed;
  -webkit-animation: navbar-animation 0.6s;
  animation: navbar-animation 0.6s;
  background-color: rgba(0, 0, 0, .9);
}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
  color: rgba(255, 211, 66);
}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
  background-color: rgba(255, 211, 66);
}
.content {
  padding: 150px 0;
  background-color: #ffffff;
  min-height: 100vh;
}




.to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 211, 66, 0.829) !important;
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #16161d;
  
}
    /* Set background color of preview picture */
  .modal-body {
    background-color: #242424;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .modal-content {
    border-radius: 8px;
 
  }

  /* Make modal header transparent */
  .modal-header {
      background-color: transparent;
      border-bottom: none;
      z-index: 1050; /* Ensure the modal header appears above the navbar */
  }

  /* Make the X button white */
  .modal-header .btn-close {
      
      font-size: 1.5rem;
  }

  /* Set the maximum width and height of the image to fit the viewport */
.modal-body .modal-image {
    max-width: 100%;
    /*max-height: 100vh;*/
    display: block;
    margin: auto; /* Center the image horizontally */
    object-fit: contain; 
}


  /* Center align the name and scientific name */
  .modal-body .name {
      text-align: center;
      color: white;
  }

  /* Style the scientific name */
  .modal-body .modal-eng-name {
      
    font-weight: normal;
    margin-top: 5px;
  }

  .modal-eng-name {
    opacity: 25%;
    font-size: 125%;
  }

  /* Ensure the navbar appears below the modal */
  .navbar {
    z-index: 1040;
  }

 .modal-name {
  padding-top: 12px;
  font-size: 150%;
 }



/* Gallery */

.row-gallery {
  margin: 0px; /* Adjust margin to account for the padding on the column-gallery */
}

.column-gallery {
  width: calc(25% ); /* Adjust for padding */
  padding: 0 7px;
  box-sizing: border-box; /* Ensure padding is included in the width */

  
}

.column-gallery-main {
  margin: 0; /* Adjust margin to account for the padding on the column-gallery */
}

.column-main {
  width: calc(25% - 7px); /* Adjust for padding, assuming 7px on each side */
  padding: 0 7px;
  box-sizing: border-box; /* Ensure padding is included in the width */
}






.column-gallery img {
  border-radius: 5px;
  margin-bottom: 14px; /* Space between rows */
}
.column-gallery img {
  width: 100%;
  height: auto;

}

.img-fluid {
  width: 100%;
  height: auto;
  display: block;
}


.column-main img {
  border-radius: 3px;

}

.full-link{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
 
}
.full-link-bd {
  margin: 0;
  margin-right: 16px;
}
/* Sidebar */


/* Toggle Styles */
#viewport-side {
  padding-left: 250px;
  transition: all 0.5s ease;
}

/* Masonry with Lazyload*/

.grid {
  display: flex;
  width: 100%;
}
.grid-item {
  width: 30%;
  margin: 10px;
}
.grid-item img {
  width: 100%;
  display: block;
}







/* Sidebar Styles */
#sidebar-side {
  z-index: 1000;
  position: static;
  left: 250px;
  width: 250px;
  height: fit-content;
  margin-left: -250px;
  margin-top: 35px;
  margin-right: 15px;
  overflow-y: auto;
  background: rgba(232, 232, 232, 0.3);
  transition: all 0.5s ease;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;

}

#sidebar-side header {
  background-color: #242424;
  font-size: 2rem;
  line-height: 52px;
  text-align: center;
}

#sidebar-side header a {
  color: #000;
  display: block;
  text-decoration: none;

}

#sidebar-side header a:hover {
  color: #212121;
}

#sidebar-side .nav a, #addCatBtn, #addNewsBtn{
  /*background: none;*/
  border-bottom: 1px solid #fff;
  color: #000;
  font-size: 1.9rem;
  padding: 6px 18px;
}
.scrollable-category {
  max-height: 250px;
  overflow-y: auto;

  
}

.scrollable-category {
  white-space: nowrap;
}
#sidebar-side .nav a:hover {
  background: none;
  color: #343434;
}

#sidebar-side .nav a li {
  margin-right: 16px;
}

.content-flex-flex {
  display: flex;
  align-items: flex-start;
}

.sidebar-title {
  color: #fff;
  background-color: #242424;
  padding: 12px 18px;
  margin-bottom: 0px;  
  text-align: center;

  
}

#sidebar-side .nav-item:hover {
  transition: 0.3s;
  background-color: rgba(232, 232, 232, 1)
}

.scrollable-category a {
  max-width: 250px;
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word; /* Ensure long words break to the next line */
}

/* Sidebar */

.row-category{
  margin: 30px 16px 0px 16px;
}


.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.about-page {
  flex: 1;
  padding: 20px;
}

.about-page p, .about-page li {
  font-size: 1.9rem;
}
.about-page .about-picture {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}
h2 {
  color: darkred;
}

.about-name {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, .3);
  text-align: center;
}


.contact-info li {
  display: flex;
  align-items: center;
}


.contact-info li img {
  padding-right: 5px;
}




#addProductBtn {
  position: relative;
  right: 32px;
}

.hidden {
  display: none;
}

/* Moving between pages */
/* Moving to Home Page */
.home-page-content:target {
  display: block;
}
.d-none {
  display: none;
}
/* Moving to Product Page */
.product-page-content {
  display: none;
}
.product-page-content:target {
  display: block;
}
/* Moving to Product Form */

/* Moving to Order Page */
.order-page-content {
  display: none;
}
.order-page-content:target {
  display: block;
}

#backBtn strong {
  font-size: 18px;
}




/* Product Form */
.form-container {
  border: 1px solid black;
  padding-left: 0;
  margin-bottom: 10px;
  width: 50%;
}

.form-container form {
  width: 100%;
  padding: 30px 30px 20px 30px;
}
.form-input {
  border: 1px solid black;
  background-color: #f8f9fa;
  height: 35px;
  border-radius: 5px;
  color: black;
}
.form-input:focus {
  outline: 2px solid #8E806A;
  border: none;
}
input[type="file"] {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: #8E806A;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}
/* Submit buttons */
.form-btn {
  --color: #8E806A;
  font-family: inherit;
  display: inline-block;
  width: 20em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  margin: 20px;
  font-size: 20px;
  z-index: 1;
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}
.form-btn a {
  color: var(--color);
}
.form-btn:hover a {
  color: white;
}

.form-btn::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 300px;
  height: 110px;
  z-index: -1;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transition: .3s all;
}

.form-btn:hover {
  color: white;
}

.form-btn:hover::before {
  top: -30px;
  left: -30px;
}




/* Reset .form-btns */
.reset-form-btn {
  --color: #0077ff;
  font-family: inherit;
  display: inline-block;
  width: 20em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  margin: 20px;
  font-size: 20px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

.reset-form-btn::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 300px;
  height: 110px;
  z-index: -1;
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transition: .3s all;
}

.reset-form-btn:hover {
  color: white;
}

.reset-form-btn:hover::before {
  top: -30px;
  left: -30px;
}


/* Add Product button */
.add-button {
  position: relative;
  width: 180px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
  margin: 0 0 -30px 36px;
}

.add-button, .add-button__icon, .add-button__text {
  transition: all 0.3s;
}

.add-button .add-button__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}

.add-button .add-button__icon {
  position: absolute;
  transform: translateX(134px);
  height: 100%;
  width: 39px;
  background-color: #34974d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button .svg {
  width: 30px;
  stroke: #fff;
}

.add-button:hover {
  background: #34974d;
}

.add-button:hover .add-button__text {
  color: transparent;
}

.add-button:hover .add-button__icon {
  width: 148px;
  transform: translateX(10px);
}

.add-button:active .add-button__icon {
  background-color: #2e8644;
}

.add-button:active {
  border: 1px solid #2e8644;
}














/* Solid border */
hr.solid {
  border-top: 5px solid #bbb;
  margin: 50px 0px 50px 0px;
}

.title-custom {
  text-align: start;
  font-size: 3rem;
  font-weight:bold;
  padding: 15px 0px 15px 0px;
  color: #16161d;
}


.carousel-item .row {
  margin-bottom: 20px; /* Adjust this value based on your design needs */
}

.carousel-item .row:last-child {
  margin-bottom: 0; /* Removes margin from the bottom of the last row in each item */
}

.card-body h2 {
  font-weight: bold;
}

.card img {
  padding: 7px;
}

.row-category {
  box-sizing: border-box;
}


.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, .3);
  width: 10% !important;
}





















@media screen and (min-width: 767px) {
  .banner {
    padding: 0 150px;
  }
  .banner h1 {
    font-size: 5rem;
  }
  .banner p {
    font-size: 2rem;
  }
  .navbar-dark .navbar-nav .nav-link {
    padding: 23px 15px;
  }
  .navbar-dark .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 30%;
    right: 30%;
    height: 1px;
    background-color: rgba(255, 211, 66);
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.1s ease-in;
  }
  .navbar-dark .navbar-nav .nav-link:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
  .dropdown-menu {
    min-width: 200px;
    -webkit-animation: dropdown-animation 0.3s;
    animation: dropdown-animation 0.3s;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
  }

  


}

@media screen and (max-width: 1199px) {
  .column-gallery {
    width: calc(25% ); /* Adjust for padding */
    padding: 0 5px;
    margin-bottom: 5px;
  }

  .column-gallery img {
    border-radius: 6px;
    margin-bottom: 5px; /* Space between rows */
  }

  .navbar-brand {
    margin-left: 18px;
  }
  .navbar-brand img {
    height: 100px;
  }
}



@media screen and (max-width: 991px) {
  .column-gallery {
    width: calc(25% ); /* Adjust for padding */
    padding: 0 5px;
    margin-bottom: 10px;
  }

  .column-gallery img {
    border-radius: 6px;
    margin-bottom: 5px; /* Space between rows */
  }

  .navbar-dark .navbar-nav .nav-link {
    padding: 23px 15px;
    font-size: 1.6rem;
  }
  .column-main {
    width: calc(33% - 5px); /* Adjust for padding, assuming 7px on each side */
    padding: 0 7px;
    box-sizing: border-box; /* Ensure padding is included in the width */
  }


  
/* Sidebar Styles */
#sidebar-side {
  z-index: 1000;
  position: static;
  left: 225px;
  width: 225px;
  height: fit-content;
  margin-left: -250px;
  margin-top: 35px;
  margin-right: 15px;
  overflow-y: auto;
  background: rgba(232, 232, 232, 0.3);
  transition: all 0.5s ease;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;

}

#sidebar-side header {
  background-color: #242424;
  font-size: 18px;
  line-height: 52px;
  text-align: center;
}

#sidebar-side header a {
  color: #000;
  display: block;
  text-decoration: none;

}

#sidebar-side header a:hover {
  color: #212121;
}

#sidebar-side .nav a {
  background: none;
  border-bottom: 1px solid #fff;
  color: #000;
  font-size: 14px;
  padding: 8px 18px;
}
.scrollable-category {
  max-height: 225px;
  overflow-y: auto;

  
}


.sidebar-title {
  color: #fff;
  background-color: #242424;
  padding: 12px 18px;
  margin-bottom: 0px;  
  text-align: center;
  font-size: 18px;

  
}














}
@media screen and (max-width: 768px) {
  .navbar-brand {
    margin-left: 20px;
  }
  .navbar-brand img {
    height: 90px;
  }
  .navbar-nav {
    padding: 0 20px;
    background-color: rgba(0, 0, 0, .9);
  }
  .navbar.fixed-top .navbar-nav {
    background: transparent;
  }
}

@media screen and (max-width: 767px) {
  .column-gallery {
    width: calc(33.33% ); /* Adjust for padding */
    padding: 0 5px;
    margin-bottom: 5px;
  }

  .column-gallery img {
    border-radius: 4px;
    margin-bottom: 5px; /* Space between rows */
  }

  



}


@-webkit-keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}